body {
	background-color: #969696;
	font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
	color: #2e2e2e;
	border-color: #2e2e2e;
	font-size: 18px;
}

.main {
	background: #969696 url("joystick_background.png") no-repeat center;
	position: center;
	height: 100%;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

input[type="text"], input[type="password"], textarea {
	border: solid 2px;
	border-radius: 3px;
	padding: 2px;
	font-size: 16px;
	border-color: #969696;
}

.auth_field {
	margin: 10px 10px 0px 8px;
}

.hyperlink {
	font-size: 15px;
}

.left_side {
	margin-right: 70%;
}

.menu_button {
	color: #4a4a4a;
	background-color: #FFF;
	transition-duration: 0.5s;
	border: solid 4px #76C2AF;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	align-content: center;
}

.menu_button:hover {
	background-color: #76C2AF;
	color: #FFF;
}

.button {
	background-color: #FFF;
	transition-duration: 0.5s;
	border: solid 2px #969696;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	align-content: center;
}

.button:hover {
	background-color: #969696;
	color: #FFF;
}

.center_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

b {
	font-size: 20px;
}

fieldset {
	line-height: 150%;
	text-align: justify;
	min-width: 0;
	padding: 0 8px 15px 8px;
	margin: 15px 6px 0;
	border: 3px solid;
	border-radius: 9px;
	background-color: #76C2AF;
}

.registration_paragraph {
	padding-bottom: 15px;
}

.erreur {
	color: red;
}

.sidenav {
	height: 96%;
	width: 260px;
	position: absolute;
	z-index: 1;
	top: 2%;
	margin-top: 2%;
	left: 0;
	background-color: #969696;
}

.sidenav_button {
	width: 100%;
	border: #76C2AF solid 3px;
	border-radius: 15px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	transition-duration: 0.5s;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sidenav_button:hover {
	color: #FFF;
	background-color: #76C2AF;
}

.scroll {
	width: 100%;
	height: 92%;
	position: absolute;
	bottom: 0;
}

.info_corner {
	background: #2e2e2e;
	color: #dfdfdf;
	font-size: 26px;
	border: 3px solid #76C2AF;
	position: fixed;
	top: 10px;
	height: 7%;
	width: 254px;
	text-align: center;
	border-radius: 15px;
	padding-top: 10px;
}

.main_panel {
	margin-left: 260px;
}

.game_display {
	margin-top: 1%;
	margin-left: 2%;
	height: 96%;
	width: 96%;
	border: #76C2AF solid 3px;
	border-radius: 15px;
	background-color: #c1c1c1;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('joystick_background.png');
	text-align: center;
}

.game_display p {
	margin-top: 15%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.game_display .button {
	background-color: #FFF;
	transition-duration: 0.5s;
	border: solid 3px #76C2AF;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 15px;
	align-content: center;
	font-size: 35px;
	margin-top: 18%;
}

.game_display .button:hover {
	color: #FFF;
	background-color: #76C2AF;
}